{% extends "layout.twig" %}

{% block title %}
    {% if task is defined %}
        Edit task
    {% else %}
        Create task
    {% endif %}
{% endblock %}

{% block content %}

    <form action="/task/save" method="POST">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>User email:</td>
                    <td>
                        {% if task is defined and readonly %}
                            {{ task.user.email }}
                        {% else %}
                            <input type="text" name="user_email">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>User name:</td>
                    <td>
                        {% if task is defined and readonly %}
                            {{ task.user.name }}
                        {% else %}
                            <input type="text" name="user_name">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Task description:</td>
                    <td>
                        {% if task is defined and readonly %}
                            {{ task.description }}
                        {% else %}
                            <input type="text" name="task_description">
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if not readonly %}
            <input type="submit" class="btn btn-primary" value="Save">
        {% endif %}
        <a href="/" class="btn btn-link">Back to task list</a>
    </form>

{% endblock %}