{% extends "layout.twig" %}

{% block title %}Task saved{% endblock %}

{% block content %}

    <h3 class="text-center"><span class="badge badge-success">The task has been saved.</span></h3>

{% endblock %}